p{ 
  font-size: 1em;
  margin:0% 5%;
  text-align: justify; 
  color: #888; }

.entry{
  border-top:solid #1abc9c 2px;
  margin-bottom:20px;
}
.date{
  text-align:right;
}
#events{
  text-align:left;
}
