/* Important styles */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cute+Font|Freckle+Face|Gugi|Monoton|Special+Elite');

::-webkit-scrollbar { 
    display: none; 
}

body { 
  color: #555; 
  text-align:center;
  padding:0px;
  font-family: "raleway", helvetica;
}
nav {
	margin: 27px auto 0;
	position: relative;
	width: 50%;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 20%;
}
a:nth-child(2) {
	width: 20%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 20%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width:20%;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width:20%;
	left: 20%;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width:20%;
	left:40%;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width:20%;
	left: 60%;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width:20%;
	left:80%;
	background-color: #e67e22;
}
#main{
  /*all main content here*/
  margin-top:50px;
}
#foot{
  width:100%;
  background-color:#34495e;
  color:white;
  padding:20px;
}
#foot a{
  color:white;
  font-size:20px;
  text-decoration:none;
}
#connect i{
  font-size:40px;
  padding:15px 10px 15px 10px;
}
.line{
  height:2px;
  width:80%;
  margin:10px 10% 10px 10%;
  background-color:white;
}
#to-top{
  text-align:right;
  font-size:30px;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #34495e;
}

p{ 
  font-size: 1.5em;
  margin:0% 5%;
  text-align: justify; 
  color: #888; }
.purp{
  color:#9b59b6;
}
.orn{
  color:#e67e22;
}
.green{
  color:#1abc9c;
}
.blu{
  color:#3498db;
}
.red{
  color:#e74c3c;
}
